@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  display: block;
  height: 25px;
  padding-left: 10px;
  font-weight: bold;
  line-height: 25px;
}
strong::before {
  content: "Q.";
  display: inline-block;
  margin-right: 5px;
}

p {
  display: flex;
  margin-top: 10px;
  padding-left: 10px;
  line-height: 25px;
  white-space: pre-line;
}
p::before {
  content: "A.";
  display: inline-block;
  margin-right: 7px;
}

hr {
  margin: 10px 0;
}

/*
    @세팅구역
*/
body {
  font-size: 14px;
  color: var(--colorBg1);
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
}

.common-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}

ul {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 16px;
}

.look {
  background-color: gray;
  color: #fff;
}

.random-question {
  position: relative;
  width: 100vw;
  height: 100vh;
  text-align: center;
}
.random-question button {
  width: 10vw;
  height: 5vw;
  margin: 50px 0;
}
.random-question .wrap {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.random-question .q {
  display: block;
  width: 100%;
  height: auto;
  font-size: 40px;
  line-height: 60px;
}
.random-question .a {
  display: block;
  text-align: center;
  opacity: 1;
}
.random-question .a.hide {
  opacity: 0;
}