ul {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 16px;
}

.look {
    background-color: gray;
    color: #fff;
}

.random-question {
    position: relative;
    width: 100vw; height: 100vh;
    text-align: center;
    button {
        margin: 50px 0;
    }
    strong {
        position: absolute;
        width: 90vw; height: 100px;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        font-size: 50px;
        line-height: 70px;
    }
}