ul {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 16px;
}

.look {
    background-color: gray;
    color: #fff;
}

.random-question {
    position: relative;
    width: 100vw; height: 100vh;
    text-align: center;
    button {
        width: 10vw; height: 5vw;
        margin: 50px 0;
    }
    .wrap {
        position: absolute;
        width: 100%;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
    }
    .q {
        display: block;
        width: 100%; height: auto;
        font-size: 40px;
        line-height: 60px;
    }
    .a {
        display: block;
        text-align: center;
        opacity: 1;
        &.hide {
            opacity: 0;
        }
    }
}